.elementor-22
  .elementor-element.elementor-element-099d47d
  .owl-carousel.owl-theme
  .slider-item.content-item {
  height: 789px;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .owl-carousel.owl-theme
  .elementor-repeater-item-5a2ee63
  .slide-content-column {
  width: 66%;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-5a2ee63
  .slide-content {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-5a2ee63
  .elementor-row {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-5a2ee63
  .slide-content-column {
  text-align: left;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-5a2ee63
  .content-slider-item-content {
  order: 3;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-5a2ee63
  .content-slider-item-heading {
  font-size: 86px;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: -0.03em;
  order: 1;
  margin: 12% 0% 0% 5%;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-5a2ee63
  .content-slider-item-additional-heading {
  order: 2;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-5a2ee63
  .slide-image-column {
  left: -10%;
  top: 50%;
  max-width: 39%;
  text-align: left;
  margin: -170px 0px 0px 0px;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .owl-carousel.owl-theme
  .elementor-repeater-item-736ec5f
  .slide-content-column {
  width: 70%;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-736ec5f
  .slide-content {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-736ec5f
  .elementor-row {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-736ec5f
  .slide-content-column {
  text-align: left;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-736ec5f
  .content-slider-item-content {
  order: 3;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-736ec5f
  .content-slider-item-heading {
  line-height: 1.076em;
  letter-spacing: -0.03em;
  order: 1;
  margin: 0px 0px 30px 0px;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-736ec5f
  .content-slider-item-additional-heading {
  order: 2;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-736ec5f
  .slide-image-column {
  right: 0px;
  max-width: 346px;
  text-align: right;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-736ec5f
  .content-slider-item-buttons,
.elementor-22
  .elementor-element.elementor-element-099d47d
  .elementor-repeater-item-736ec5f
  .content-slider-item-buttons:not(:first-child) {
  margin: 56px 0px 0px 0px;
}
.elementor-22 .elementor-element.elementor-element-099d47d .owl-dots,
.elementor-22 .elementor-element.elementor-element-099d47d .slider-dots {
  text-align: right;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .owl-dots
  .owl-dot
  span:after,
.elementor-22
  .elementor-element.elementor-element-099d47d
  .slider-dots
  .owl-dot
  span:after {
  color: #1b1b1b;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .owl-dots
  .owl-dot
  span:before,
.elementor-22
  .elementor-element.elementor-element-099d47d
  .slider-dots
  .owl-dot
  span:before {
  border-color: #1b1b1b;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .owl-dots
  .owl-dot.active
  span:after,
.elementor-22
  .elementor-element.elementor-element-099d47d
  .slider-dots
  .owl-dot.active
  span:after {
  color: #1b1b1b;
}
.elementor-22
  .elementor-element.elementor-element-099d47d
  .owl-dots
  .owl-dot.active
  span:before,
.elementor-22
  .elementor-element.elementor-element-099d47d
  .slider-dots
  .owl-dot.active
  span:before {
  border-color: #ef644c;
}
.elementor-22 .elementor-element.elementor-element-5145aac {
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 0;
}
.elementor-22 .elementor-element.elementor-element-b0a8257 img {
  width: 100%;
}
.elementor-22 .elementor-element.elementor-element-b0a8257 {
  width: 100%;
  max-width: 100%;
  top: 0px;
}
body:not(.rtl) .elementor-22 .elementor-element.elementor-element-b0a8257 {
  left: 0px;
}
body.rtl .elementor-22 .elementor-element.elementor-element-b0a8257 {
  right: 0px;
}
.elementor-22
  .elementor-element.elementor-element-11c62ee
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-22 .elementor-element.elementor-element-f14553b {
  text-align: center;
}
.elementor-22 .elementor-element.elementor-element-c7a92a8 {
  text-align: center;
}
.elementor-22 .elementor-element.elementor-element-e010266 {
  text-align: center;
}
.elementor-22 .elementor-element.elementor-element-1802ba2 {
  text-align: center;
}
.elementor-22 .elementor-element.elementor-element-477cad2 {
  text-align: center;
}
.elementor-22 .elementor-element.elementor-element-dcecbd8 {
  text-align: center;
}
.elementor-22 .elementor-element.elementor-element-26c6d25 {
  z-index: 2;
}
.elementor-22 .elementor-element.elementor-element-86a9855 .agencium-subtitle {
  text-align: left;
  color: #968e8b;
  border-color: #b9a39c;
}
.elementor-22
  .elementor-element.elementor-element-10f268d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-22 .elementor-element.elementor-element-10f268d {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-22
  .elementor-element.elementor-element-d912f03
  .elementor-heading-title {
  line-height: 1em;
}
.elementor-22 .elementor-element.elementor-element-e578a1e .button-container {
  text-align: right;
}
.elementor-22 .elementor-element.elementor-element-a6e83f5 {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-22
  .elementor-element.elementor-element-0be4e9a
  .service-listing-wrapper.service-grid-listing
  .service-item-wrapper {
  padding: calc(36px / 2);
}
.elementor-22
  .elementor-element.elementor-element-0be4e9a
  .service-listing-wrapper.service-grid-listing {
  margin: calc(-36px / 2);
}
.elementor-22
  .elementor-element.elementor-element-0be4e9a
  .service-listing-wrapper.service-string-listing
  .service-item-wrapper {
  padding: 0 calc(36px / 2);
  margin-top: calc(36px / 2);
}
.elementor-22
  .elementor-element.elementor-element-0be4e9a
  .service-listing-wrapper.service-string-listing {
  margin: calc(-36px / 2) calc(-36px / 2) 0;
}
.elementor-22
  .elementor-element.elementor-element-0be4e9a
  .service-listing-wrapper.service-grid-listing
  .service-item
  .service-item-content {
  background-color: #f1e8e5;
}
.elementor-22
  .elementor-element.elementor-element-0be4e9a
  .service-listing-wrapper.service-grid-listing
  .service-item
  .service-item-icon {
  color: #ef644c;
}
.elementor-22 .elementor-element.elementor-element-5897b3b .agencium-subtitle {
  text-align: left;
  color: #968e8b;
  border-color: #b9a39c;
}
.elementor-22
  .elementor-element.elementor-element-2f4d4b6
  > .elementor-container {
  max-width: 1780px;
}
.elementor-22 .elementor-element.elementor-element-2f4d4b6 {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-22
  .elementor-element.elementor-element-6a9a982
  .elementor-icon-wrapper {
  text-align: left;
}
.elementor-22
  .elementor-element.elementor-element-6a9a982.elementor-view-stacked
  .elementor-icon {
  background-color: #ef644c;
}
.elementor-22
  .elementor-element.elementor-element-6a9a982.elementor-view-framed
  .elementor-icon,
.elementor-22
  .elementor-element.elementor-element-6a9a982.elementor-view-default
  .elementor-icon {
  color: #ef644c;
  border-color: #ef644c;
}
.elementor-22
  .elementor-element.elementor-element-6a9a982.elementor-view-framed
  .elementor-icon,
.elementor-22
  .elementor-element.elementor-element-6a9a982.elementor-view-default
  .elementor-icon
  svg {
  fill: #ef644c;
}
.elementor-22 .elementor-element.elementor-element-6a9a982 .elementor-icon {
  font-size: 112px;
}
.elementor-22 .elementor-element.elementor-element-6a9a982 .elementor-icon svg {
  height: 112px;
}
.elementor-22 .elementor-element.elementor-element-6a9a982 .elementor-icon i,
.elementor-22 .elementor-element.elementor-element-6a9a982 .elementor-icon svg {
  transform: rotate(180deg);
}
.elementor-22
  .elementor-element.elementor-element-6a9a982
  > .elementor-widget-container {
  margin: 20px 0px 21px 17px;
}
.elementor-22 .elementor-element.elementor-element-da8941f {
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 0;
}
.elementor-22 .elementor-element.elementor-element-f9194ea {
  text-align: left;
  width: 100%;
  max-width: 100%;
  top: 0px;
}
.elementor-22 .elementor-element.elementor-element-f9194ea img {
  width: 100%;
}
body:not(.rtl) .elementor-22 .elementor-element.elementor-element-f9194ea {
  left: 0px;
}
body.rtl .elementor-22 .elementor-element.elementor-element-f9194ea {
  right: 0px;
}
.elementor-22
  .elementor-element.elementor-element-b2cee37
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-22 .elementor-element.elementor-element-b2cee37 {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-22
  .elementor-element.elementor-element-f853825
  .elementor-widget-container {
  text-align: left;
}
.elementor-22
  .elementor-element.elementor-element-f853825
  .elementor-counter-number-wrapper {
  color: #02010100;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #ef644c;
  stroke: #ef644c;
}
.elementor-22
  .elementor-element.elementor-element-f853825
  .elementor-counter-number {
  font-family: "Roboto", Sans-serif;
  font-size: 150px;
  font-weight: 600;
  line-height: 1em;
}
.elementor-22
  .elementor-element.elementor-element-f853825
  .elementor-counter-number-suffix {
  font-family: "Roboto", Sans-serif;
  font-size: 150px;
  line-height: 1em;
}
.elementor-22
  .elementor-element.elementor-element-f853825
  .elementor-counter-title {
  background-color: #e1dbd9;
  top: 42%;
  padding: 4px 0px 4px 0px;
}
.elementor-22
  .elementor-element.elementor-element-05c4173
  .elementor-widget-container {
  text-align: left;
}
.elementor-22
  .elementor-element.elementor-element-05c4173
  .elementor-counter-number-wrapper {
  color: #02010100;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #ef644c;
  stroke: #ef644c;
}
.elementor-22
  .elementor-element.elementor-element-05c4173
  .elementor-counter-number {
  font-family: "Roboto", Sans-serif;
  font-size: 150px;
  font-weight: 600;
  line-height: 1em;
}
.elementor-22
  .elementor-element.elementor-element-05c4173
  .elementor-counter-number-suffix {
  font-family: "Roboto", Sans-serif;
  font-size: 150px;
  line-height: 1em;
}
.elementor-22
  .elementor-element.elementor-element-05c4173
  .elementor-counter-title {
  background-color: #e1dbd9;
  top: 42%;
  padding: 4px 0px 4px 0px;
}
.elementor-22
  .elementor-element.elementor-element-05c4173
  > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}
.elementor-22
  .elementor-element.elementor-element-7ed8db6
  > .elementor-widget-container {
  margin: 40px 0px 0px 46px;
}
.elementor-22 .elementor-element.elementor-element-5ff5116 .button-container {
  text-align: left;
}
.elementor-22
  .elementor-element.elementor-element-5ff5116
  > .elementor-widget-container {
  margin: 40px 0px 0px 46px;
}
.elementor-22 .elementor-element.elementor-element-fdcaf83 .agencium-subtitle {
  text-align: left;
  color: #968e8b;
  border-color: #b9a39c;
}
.elementor-22 .elementor-element.elementor-element-2fd48d3 {
  text-align: right;
}
.elementor-22
  .elementor-element.elementor-element-2fd48d3
  > .elementor-widget-container {
  margin: 70px 0px 0px 0px;
}
.elementor-22 .elementor-element.elementor-element-d01dea5 {
  margin-top: -75px;
  margin-bottom: 0px;
}
.elementor-22
  .elementor-element.elementor-element-f4dc8d2
  .elementor-repeater-item-6f15a0e
  .post-title {
  border-color: #7b7c88;
}
.elementor-22
  .elementor-element.elementor-element-f4dc8d2
  .elementor-repeater-item-6f15a0e
  .next-post-title {
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: #717171;
  stroke: #717171;
  border-color: #7b7c88;
}
.elementor-22
  .elementor-element.elementor-element-f4dc8d2
  .elementor-repeater-item-c5c8000
  .post-title {
  border-color: #7b7c88;
}
.elementor-22
  .elementor-element.elementor-element-f4dc8d2
  .elementor-repeater-item-c5c8000
  .next-post-title {
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: #717171;
  stroke: #717171;
  border-color: #7b7c88;
}
.elementor-22
  .elementor-element.elementor-element-f4dc8d2
  .elementor-repeater-item-fac1dbc
  .post-title {
  border-color: #7b7c88;
}
.elementor-22
  .elementor-element.elementor-element-f4dc8d2
  .elementor-repeater-item-fac1dbc
  .next-post-title {
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: #717171;
  stroke: #717171;
  border-color: #7b7c88;
}
.elementor-22
  .elementor-element.elementor-element-f4dc8d2
  .portfolio-item
  .next-post-title {
  font-family: "Roboto", Sans-serif;
  letter-spacing: 0px;
}
.elementor-22 .elementor-element.elementor-element-d5ca552 .agencium-subtitle {
  text-align: left;
  color: #968e8b;
  border-color: #b9a39c;
}
.elementor-22
  .elementor-element.elementor-element-1a4b362
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-22 .elementor-element.elementor-element-1a4b362 {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-22
  .elementor-element.elementor-element-a3532c1
  .elementor-heading-title {
  line-height: 1em;
}
.elementor-22 .elementor-element.elementor-element-d9a993b {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-22 .elementor-element.elementor-element-7ad9a1c .step-item {
  text-align: left;
}
.elementor-22 .elementor-element.elementor-element-7ad9a1c .owl-dots,
.elementor-22 .elementor-element.elementor-element-7ad9a1c .slider-dots {
  text-align: center;
  margin-top: 85px;
}
.elementor-22
  .elementor-element.elementor-element-7ad9a1c
  .steps-slider
  .owl-stage-outer,
.elementor-22 .elementor-element.elementor-element-7ad9a1c .step-item {
  border-color: #848484;
}
.elementor-22
  .elementor-element.elementor-element-7ad9a1c
  .step-item
  .step-number {
  font-family: "Roboto", Sans-serif;
}
.elementor-22
  .elementor-element.elementor-element-7ad9a1c
  .step-number:not(:last-child) {
  margin-bottom: 16px;
}
.elementor-22
  .elementor-element.elementor-element-7ad9a1c
  .step-description:not(:first-child) {
  margin-top: 251px;
}
.elementor-22
  .elementor-element.elementor-element-7ad9a1c
  .owl-dots
  .owl-dot.active
  span:before,
.elementor-22
  .elementor-element.elementor-element-7ad9a1c
  .slider-dots
  .owl-dot.active
  span:before {
  border-color: #ef644c;
}
.elementor-22 .elementor-element.elementor-element-824e1c9 {
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 0;
}
.elementor-22 .elementor-element.elementor-element-319b3da img {
  width: 100%;
}
.elementor-22 .elementor-element.elementor-element-319b3da {
  width: 100%;
  max-width: 100%;
  top: 0px;
}
body:not(.rtl) .elementor-22 .elementor-element.elementor-element-319b3da {
  left: 0px;
}
body.rtl .elementor-22 .elementor-element.elementor-element-319b3da {
  right: 0px;
}
.elementor-22 .elementor-element.elementor-element-bcc5071 .agencium-subtitle {
  text-align: left;
  color: #968e8b;
  border-color: #b9a39c;
}
.elementor-22
  .elementor-element.elementor-element-a383a83
  > .elementor-container {
  max-width: 1646px;
}
.elementor-22
  .elementor-element.elementor-element-a383a83
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-22 .elementor-element.elementor-element-a383a83 {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-22 .elementor-element.elementor-element-0a01b7a .owl-dots,
.elementor-22 .elementor-element.elementor-element-0a01b7a .slider-dots {
  text-align: left;
}
.elementor-22
  .elementor-element.elementor-element-0a01b7a
  .elementor-widget-container:before {
  color: #ffffff;
}
.elementor-22
  .elementor-element.elementor-element-0a01b7a
  .testimonial-carousel-wrapper:before {
  color: #ffffff;
}
.elementor-22
  .elementor-element.elementor-element-0a01b7a
  .testimonial-item
  .testimonial {
  color: #ffffff;
}
.elementor-22 .elementor-element.elementor-element-0a01b7a .author {
  color: #ffffff;
}
.elementor-22
  .elementor-element.elementor-element-0a01b7a
  .owl-dots
  .owl-dot
  span:after,
.elementor-22
  .elementor-element.elementor-element-0a01b7a
  .slider-dots
  .owl-dot
  span:after {
  color: #ffffff;
}
.elementor-22
  .elementor-element.elementor-element-0a01b7a
  .owl-dots
  .owl-dot
  span:before,
.elementor-22
  .elementor-element.elementor-element-0a01b7a
  .slider-dots
  .owl-dot
  span:before {
  border-color: #d9d9d9;
}
.elementor-22
  .elementor-element.elementor-element-0a01b7a
  .owl-dots
  .owl-dot.active
  span:before,
.elementor-22
  .elementor-element.elementor-element-0a01b7a
  .slider-dots
  .owl-dot.active
  span:before {
  border-color: #ffffff;
}
.elementor-22
  .elementor-element.elementor-element-0a01b7a
  > .elementor-widget-container {
  margin: 0px -150px 0px 0px;
  padding: 136px 334px 118px 153px;
  background-image: url("https://demo.artureanec.com/themes/agencium/wp-content/uploads/2023/08/bg-testimonials.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-22
  .elementor-element.elementor-element-1dd36ad
  .elementor-heading-title {
  line-height: 1em;
}
.elementor-22
  .elementor-element.elementor-element-1dd36ad
  > .elementor-widget-container {
  margin: -60px 0px 0px 0px;
}
.elementor-22 .elementor-element.elementor-element-8877fa8 .agencium-subtitle {
  text-align: left;
  color: #968e8b;
  border-color: #b9a39c;
}
.elementor-22
  .elementor-element.elementor-element-ff00140
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-22 .elementor-element.elementor-element-ff00140 {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-22
  .elementor-element.elementor-element-82ec8bd
  .elementor-heading-title {
  line-height: 1em;
  letter-spacing: -0.03em;
}
.elementor-22
  .elementor-element.elementor-element-99acc11.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-22
  .elementor-element.elementor-element-3ce7e64
  .elementor-widget-container {
  text-align: right;
}
.elementor-22
  .elementor-element.elementor-element-3ce7e64
  .elementor-counter-number-wrapper {
  color: #02010100;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #ef644c;
  stroke: #ef644c;
}
.elementor-22
  .elementor-element.elementor-element-3ce7e64
  .elementor-counter-number {
  font-family: "Roboto", Sans-serif;
  font-size: 150px;
  font-weight: 600;
  line-height: 1em;
}
.elementor-22
  .elementor-element.elementor-element-3ce7e64
  .elementor-counter-number-suffix {
  font-family: "Roboto", Sans-serif;
  font-size: 150px;
  line-height: 1em;
}
.elementor-22
  .elementor-element.elementor-element-3ce7e64
  .elementor-counter-title {
  background-color: #e0cdba;
  top: 42%;
  padding: 4px 0px 4px 0px;
}
.elementor-22
  .elementor-element.elementor-element-f908a2b
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-22 .elementor-element.elementor-element-f908a2b {
  margin-top: 40px;
  margin-bottom: 0px;
}
.elementor-22 .elementor-element.elementor-element-78331b2 .button-container {
  text-align: left;
}
.elementor-22 .elementor-element.elementor-element-39b8b6a {
  margin-top: 80px;
  margin-bottom: 0px;
}
.elementor-22 .elementor-element.elementor-element-e16ef48 .person-position {
  color: #83838a;
}
.elementor-22
  .elementor-element.elementor-element-6935d08
  > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}
.elementor-22 .elementor-element.elementor-element-d3680cb .person-position {
  color: #83838a;
}
.elementor-22
  .elementor-element.elementor-element-a19b356
  > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}
.elementor-22 .elementor-element.elementor-element-0f7b774 {
  padding: 160px 0px 0px 0px;
  z-index: 2;
}
.elementor-22
  .elementor-element.elementor-element-eaaa119
  .elementor-heading-title {
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-weight: 600;
  letter-spacing: -0.03em;
}
.elementor-22
  .elementor-element.elementor-element-eaaa119
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
@media (max-width: 1200px) {
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .owl-carousel.owl-theme
    .slider-item.content-item {
    height: 580px;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .owl-carousel.owl-theme
    .elementor-repeater-item-5a2ee63
    .slide-content-column {
    width: 48%;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .content-slider-item-heading {
    font-size: 5.2vw;
    margin: 0px 0px 0px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .slide-image-column {
    left: 30px;
    max-width: 380px;
    margin: -190px 0px 0px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .owl-carousel.owl-theme
    .elementor-repeater-item-736ec5f
    .slide-content-column {
    width: 70%;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .content-slider-item-heading {
    font-size: 6.8vw;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .slide-image-column {
    right: 30px;
    top: 50%;
    max-width: 300px;
    margin: -150px 0px 0px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-6a9a982 .elementor-icon {
    font-size: 60px;
  }
  .elementor-22
    .elementor-element.elementor-element-6a9a982
    .elementor-icon
    svg {
    height: 60px;
  }
  .elementor-22
    .elementor-element.elementor-element-6a9a982
    > .elementor-widget-container {
    margin: 10px 0px 14px 7px;
  }
  .elementor-22
    .elementor-element.elementor-element-635785b
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-f853825
    > .elementor-widget-container {
    margin: 0px 50px 0px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-f853825 {
    width: auto;
    max-width: auto;
  }
  .elementor-22
    .elementor-element.elementor-element-05c4173
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-05c4173 {
    width: auto;
    max-width: auto;
  }
  .elementor-22
    .elementor-element.elementor-element-58a0914
    > .elementor-element-populated {
    margin: 50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-f4dc8d2
    .elementor-repeater-item-6f15a0e
    .post-media {
    margin: -5% 0% 0% 0%;
  }
  .elementor-22
    .elementor-element.elementor-element-f4dc8d2
    .elementor-repeater-item-c5c8000
    .post-media {
    margin: -5% 0% 0% 0%;
  }
  .elementor-22
    .elementor-element.elementor-element-f4dc8d2
    .elementor-repeater-item-fac1dbc
    .post-media {
    margin: -5% 0% 0% 0%;
  }
  .elementor-22
    .elementor-element.elementor-element-7ba526b
    > .elementor-element-populated {
    margin: 60px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 30px 0px 30px;
  }
  .elementor-22
    .elementor-element.elementor-element-0a01b7a
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 90px 90px 90px 90px;
  }
  .elementor-22
    .elementor-element.elementor-element-7c5fca1
    > .elementor-element-populated {
    margin: 0px 30px 0px 30px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 30px;
  }
  .elementor-22
    .elementor-element.elementor-element-1dd36ad
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-0f7b774 {
    padding: 120px 0px 40px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-eaaa119
    .elementor-heading-title {
    font-size: 60px;
  }
}
@media (max-width: 1020px) {
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .slide-image-column {
    max-width: 300px;
    margin: -150px 0px 0px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-f853825
    .elementor-counter-number {
    font-size: 120px;
  }
  .elementor-22
    .elementor-element.elementor-element-f853825
    .elementor-counter-number-suffix {
    font-size: 120px;
  }
  .elementor-22
    .elementor-element.elementor-element-f853825
    .elementor-counter-title {
    font-size: 16px;
  }
  .elementor-22
    .elementor-element.elementor-element-05c4173
    .elementor-counter-number {
    font-size: 120px;
  }
  .elementor-22
    .elementor-element.elementor-element-05c4173
    .elementor-counter-number-suffix {
    font-size: 120px;
  }
  .elementor-22
    .elementor-element.elementor-element-05c4173
    .elementor-counter-title {
    font-size: 16px;
  }
  .elementor-22 .elementor-element.elementor-element-7ad9a1c .owl-dots,
  .elementor-22 .elementor-element.elementor-element-7ad9a1c .slider-dots {
    margin-top: 85px;
  }
  .elementor-22
    .elementor-element.elementor-element-3ce7e64
    .elementor-counter-number {
    font-size: 120px;
  }
  .elementor-22
    .elementor-element.elementor-element-3ce7e64
    .elementor-counter-number-suffix {
    font-size: 120px;
  }
  .elementor-22
    .elementor-element.elementor-element-3ce7e64
    .elementor-counter-title {
    font-size: 16px;
  }
  .elementor-22 .elementor-element.elementor-element-0f7b774 {
    padding: 90px 0px 40px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-eaaa119
    .elementor-heading-title {
    font-size: 60px;
  }
}
@media (max-width: 840px) {
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .owl-carousel.owl-theme
    .elementor-repeater-item-5a2ee63
    .slide-content-column {
    width: 58%;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .content-slider-item-heading {
    font-size: 7.4vw;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .slide-image-column {
    max-width: 200px;
    margin: -100px 0px 0px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .owl-carousel.owl-theme
    .elementor-repeater-item-736ec5f
    .slide-content-column {
    width: 70%;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .content-slider-item-heading {
    font-size: 7.4vw;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .slide-image-column {
    max-width: 200px;
    margin: -100px 0px 0px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-10f268d {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .elementor-22 .elementor-element.elementor-element-2f4d4b6 {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .elementor-22 .elementor-element.elementor-element-b2cee37 {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-f853825
    .elementor-widget-container {
    text-align: left;
  }
  .elementor-22
    .elementor-element.elementor-element-05c4173
    .elementor-widget-container {
    text-align: left;
  }
  .elementor-22
    .elementor-element.elementor-element-2fd48d3
    > .elementor-widget-container {
    margin: 40px 0px 0px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-d01dea5 {
    margin-top: -36px;
    margin-bottom: 0px;
  }
  .elementor-22 .elementor-element.elementor-element-1a4b362 {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .elementor-22 .elementor-element.elementor-element-a383a83 {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .elementor-22 .elementor-element.elementor-element-ff00140 {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-3ce7e64
    .elementor-widget-container {
    text-align: left;
  }
  .elementor-22
    .elementor-element.elementor-element-eaaa119
    .elementor-heading-title {
    font-size: 28px;
  }
}
@media (max-width: 660px) {
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .owl-carousel.owl-theme
    .elementor-repeater-item-5a2ee63
    .slide-content-column {
    width: 90%;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .slide-content {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .elementor-row {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .slide-content-column {
    text-align: center;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .content-slider-item-content,
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .content-slider-item-content:not(:first-child) {
    margin: 77px 0px 0px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .content-slider-item-heading {
    font-size: 9.4vw;
    margin: 80px 0px 0px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .slide-image-column {
    left: 50%;
    top: 100%;
    max-width: 200px;
    margin: 40px 0px 0px -100px;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .owl-carousel.owl-theme
    .elementor-repeater-item-736ec5f
    .slide-content-column {
    width: 100%;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .elementor-row {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .slide-content-column {
    text-align: center;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .content-slider-item-heading {
    font-size: 9.4vw;
    margin: 60px 0px 0px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .slide-image-column {
    left: 50%;
    top: 100%;
    max-width: 200px;
    margin: 40px 0px 0px -100px;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .content-slider-item-buttons,
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .content-slider-item-buttons:not(:first-child) {
    margin: 36px 0px 0px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-f853825
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-22 .elementor-element.elementor-element-f853825 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-22 .elementor-element.elementor-element-05c4173 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-22
    .elementor-element.elementor-element-0a01b7a
    > .elementor-widget-container {
    padding: 90px 50px 50px 50px;
  }
  .elementor-22 .elementor-element.elementor-element-0f7b774 {
    padding: 70px 0px 40px 0px;
  }
}
@media (max-width: 480px) {
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-5a2ee63
    .slide-image-column {
    max-width: 200px;
    text-align: center;
    margin: 40px 0px 0px -100px;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .owl-carousel.owl-theme
    .elementor-repeater-item-736ec5f
    .slide-content-column {
    width: 100%;
  }
  .elementor-22
    .elementor-element.elementor-element-099d47d
    .elementor-repeater-item-736ec5f
    .slide-image-column {
    left: 50%;
    top: 100%;
    max-width: 200px;
    margin: 40px 0px 0px -100px;
  }
  .elementor-22 .elementor-element.elementor-element-3c6570a {
    width: 50%;
  }
  .elementor-22 .elementor-element.elementor-element-77b4757 {
    width: 50%;
  }
  .elementor-22 .elementor-element.elementor-element-17762f4 {
    width: 50%;
  }
  .elementor-22 .elementor-element.elementor-element-ed2cfc3 {
    width: 50%;
  }
  .elementor-22 .elementor-element.elementor-element-cbcc207 {
    width: 50%;
  }
  .elementor-22 .elementor-element.elementor-element-5f5d5ba {
    width: 50%;
  }
  .elementor-22
    .elementor-element.elementor-element-05c4173
    > .elementor-widget-container {
    margin: 40px 0px 0px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-0a01b7a
    > .elementor-widget-container {
    padding: 90px 30px 50px 30px;
  }
  .elementor-22
    .elementor-element.elementor-element-6935d08
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-c0d695e
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-22
    .elementor-element.elementor-element-a19b356
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 481px) {
  .elementor-22 .elementor-element.elementor-element-d249596 {
    width: 55%;
  }
  .elementor-22 .elementor-element.elementor-element-cfc17d8 {
    width: 45%;
  }
  .elementor-22 .elementor-element.elementor-element-04917ec {
    width: 29%;
  }
  .elementor-22 .elementor-element.elementor-element-188431c {
    width: 52%;
  }
  .elementor-22 .elementor-element.elementor-element-3190b4c {
    width: 18.664%;
  }
  .elementor-22 .elementor-element.elementor-element-b139575 {
    width: 58%;
  }
  .elementor-22 .elementor-element.elementor-element-7cb690d {
    width: 42%;
  }
  .elementor-22 .elementor-element.elementor-element-7ba526b {
    width: 58.5%;
  }
  .elementor-22 .elementor-element.elementor-element-7c5fca1 {
    width: 41.5%;
  }
  .elementor-22 .elementor-element.elementor-element-965575c {
    width: 38%;
  }
  .elementor-22 .elementor-element.elementor-element-99acc11 {
    width: 62%;
  }
}
@media (max-width: 1200px) and (min-width: 481px) {
  .elementor-22 .elementor-element.elementor-element-d249596 {
    width: 60%;
  }
  .elementor-22 .elementor-element.elementor-element-cfc17d8 {
    width: 40%;
  }
  .elementor-22 .elementor-element.elementor-element-635785b {
    width: 100%;
  }
  .elementor-22 .elementor-element.elementor-element-58a0914 {
    width: 100%;
  }
  .elementor-22 .elementor-element.elementor-element-b139575 {
    width: 60%;
  }
  .elementor-22 .elementor-element.elementor-element-7cb690d {
    width: 40%;
  }
  .elementor-22 .elementor-element.elementor-element-7ba526b {
    width: 100%;
  }
  .elementor-22 .elementor-element.elementor-element-7c5fca1 {
    width: 100%;
  }
  .elementor-22 .elementor-element.elementor-element-965575c {
    width: 55%;
  }
  .elementor-22 .elementor-element.elementor-element-99acc11 {
    width: 45%;
  }
}
@media (max-width: 1020px) and (min-width: 481px) {
  .elementor-22 .elementor-element.elementor-element-3c6570a {
    width: 33.33%;
  }
  .elementor-22 .elementor-element.elementor-element-77b4757 {
    width: 33.3333%;
  }
  .elementor-22 .elementor-element.elementor-element-17762f4 {
    width: 33.3333%;
  }
  .elementor-22 .elementor-element.elementor-element-ed2cfc3 {
    width: 33.3333%;
  }
  .elementor-22 .elementor-element.elementor-element-cbcc207 {
    width: 33.3333%;
  }
  .elementor-22 .elementor-element.elementor-element-5f5d5ba {
    width: 33.3333%;
  }
  .elementor-22 .elementor-element.elementor-element-d249596 {
    width: 80%;
  }
  .elementor-22 .elementor-element.elementor-element-b139575 {
    width: 80%;
  }
  .elementor-22 .elementor-element.elementor-element-9a259db {
    width: 50%;
  }
  .elementor-22 .elementor-element.elementor-element-cc23bf6 {
    width: 50%;
  }
  .elementor-22 .elementor-element.elementor-element-e3bdbc8 {
    width: 50%;
  }
  .elementor-22 .elementor-element.elementor-element-c0d695e {
    width: 50%;
  }
  .elementor-22 .elementor-element.elementor-element-29cd1d7 {
    width: 50%;
  }
}
@media (max-width: 840px) and (min-width: 481px) {
  .elementor-22 .elementor-element.elementor-element-d249596 {
    width: 38%;
  }
  .elementor-22 .elementor-element.elementor-element-cfc17d8 {
    width: 62%;
  }
  .elementor-22 .elementor-element.elementor-element-b139575 {
    width: 38%;
  }
  .elementor-22 .elementor-element.elementor-element-7cb690d {
    width: 62%;
  }
  .elementor-22 .elementor-element.elementor-element-7ba526b {
    width: 100%;
  }
  .elementor-22 .elementor-element.elementor-element-7c5fca1 {
    width: 100%;
  }
  .elementor-22 .elementor-element.elementor-element-965575c {
    width: 100%;
  }
  .elementor-22 .elementor-element.elementor-element-99acc11 {
    width: 100%;
  }
  .elementor-22 .elementor-element.elementor-element-29cd1d7 {
    width: 100%;
  }
}
@media (max-width: 660px) and (min-width: 481px) {
  .elementor-22 .elementor-element.elementor-element-d249596 {
    width: 42%;
  }
  .elementor-22 .elementor-element.elementor-element-cfc17d8 {
    width: 58%;
  }
  .elementor-22 .elementor-element.elementor-element-b139575 {
    width: 42%;
  }
  .elementor-22 .elementor-element.elementor-element-7cb690d {
    width: 58%;
  }
  .elementor-22 .elementor-element.elementor-element-29cd1d7 {
    width: 100%;
  }
}
